@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, I’m Oviya Krishnamoorthy </h1>
    <p>Student ID: 500237599</p>
    <h1>Welcome to my .NET 💜 Azure web app!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
